@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: 1s;
}

/* ::-webkit-scrollbar {
    width: 15px;
    color: #ffa500;
} */

/* ::-webkit-scrollbar:hover {
    width: 10px;
    background-color: #b1b8c2;
    transition: 1s;
}

::-webkit-scrollbar-button:hover {
    width: 10px;  
} */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    overflow-x: hidden; /* removes scroll in bottom */
}

html {
    scroll-behavior: smooth;
}

a {
    transition: 1s;
    color: #fff;
}

/*Here layouts start */
section.container-1 {
    height: 100vh;
    width: 100%;
    background-image: url(/assets/images/main/1DA_REDESIGN_HOMEPAGE_FEB17_BANNER-2.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: grid;
    grid-template: 
    "header" 70px
    "main" 1fr /
    1fr;
}

header.header {
    grid-area: header;
    display: grid;
    grid-template: 
    "header-group-1 header-group-2" 1fr /
    0.6fr 0.4fr;
    background-color: #ffa500;
    z-index: 1;
    width: 100%;
    position: fixed;
    height: 70px;
}

#special-logo {
    color: #060208;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    display: grid;
    place-self: center;

}

#special-logo a {
    color: #060208;
}

.void {
    grid-area: void;
}

header.header .header-group-1 {
    grid-area: header-group-1;
    /* outline: 0.5px solid #b1b8c2; */
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: start;
    align-content: center;
    justify-content: center;
    padding-left: 30px;
}

header.header .header-group-2 {
    grid-area: header-group-2;
    /* outline: 0.5px solid #b1b8c2; */
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: end;
    align-content: center;
    justify-content: end;
    padding-right: 30px;
}

header.header .header-group-1 .ul-header-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    /* justify-self: start; */
}

header.header .header-group-1 .ul-header-1 li {
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: normal;
    display: grid;
    place-self: center;
}

header.header .header-group-2 .ul-header-2 li {
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: normal;
    display: grid;
    place-self: center;
}

header.header .header-group-2 .ul-header-2 li a:hover {
    color: #a9bad1;
    transition: 1s;
    border-bottom: 1px solid #679ce6;
}

header.header .header-group-1 .ul-header-1 li a:hover {
    color: #a9bad1;
    transition: 1s;
    border-bottom: 1px solid #679ce6;
}

header.header .header-group-2 .ul-header-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    place-items: center;
}

header.header .header-group-2 .ul-header-2 li button{
    border: 2px solid #fff;
    padding: 10px 10px;
    background-color: #a9bad1;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

header.header .header-group-2 .ul-header-2 li button:hover{
    background-color: #111111;
    color: #ffa800;
    transition: 1s;
}

main.main {
    grid-area: main;
    display: grid;
    place-items: center;
}

main.main .main-post {
    display: grid;
    place-items: center;
    grid-gap: 5px;
}

main.main .main-post h1 {
    font-size: 65px;
    letter-spacing: normal;
    font-weight: 800;
    font-family: sans-serif;
    color: #fff;
    text-transform: capitalize;
}

main.main .main-post h2 {
    font-size: 65px;
    letter-spacing: normal;
    font-weight: 800;
    font-family: sans-serif;
    color: #ffa800;
    text-transform: capitalize;
    padding-bottom: 10px;
}

main.main .main-post p {
    font-size: 18px;
    letter-spacing: normal;
    font-weight: 700;
    font-family: sans-serif;
    color: #fff;
    text-transform: capitalize;
    padding-bottom: 5px;
}

main.main .main-post button {
    padding: 15px 15px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #ffa500;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: normal;
}

main.main .main-post button:hover {
    background-color: #cacaca;
    color: #111111;
    transition: 1s;
    cursor: pointer;
}

section.container-2 {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: 70px 0.8fr;
    grid-gap: 30px;
}

section.container-2 .ribbon-blog {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 30px;
    background-color: #cacaca;
    width: auto;
}

section.container-2 .ribbon-blog .ribbon-1 {
    display: grid;
    justify-content: start;
    align-content: center;
    padding-left: 30px;
}

section.container-2 .ribbon-blog .ribbon-2 {
    display: grid;
    grid-template-columns: 40px 10px 40px;
    grid-gap: 5px;
    justify-content: end;
    align-content: center;
    padding-right: 30px;
}

section.container-2 .ribbon-blog a {
    color: #060208;
}

section.container-2 .blog-wrapper {
    display: grid;
    grid-template-rows: 1fr;
    align-content: start;
    /* justify-items: center;
    justify-content: center; */
    grid-gap: 50px;
    margin-bottom: 30px;
}

section.container-2 .blog-wrapper .row {
    display: grid;
    grid-template-columns: 1fr;
    align-items: start;
    align-content: start;
    justify-items: start;
    justify-content: start;
    padding-left: 30px;
}

section.container-2 .blog-wrapper .row .blog-post {
    display: grid;
    grid-template: 
    "date-box img h3" 0.2fr
    "date-box img span-box " 0.1fr
    "icon-box img p" 0.6fr
    "icon-box img a" 0.1fr /
    0.1fr 0.4fr 0.5fr;
    justify-items: start;
    justify-content: start;
    grid-gap: 15px;
}

section.container-2 .blog-wrapper .row .blog-post .date-box {
    grid-area: date-box;
    background-color: #e52b50;
    padding: 8px 30px;
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    grid-gap: 5px;
}

section.container-2 button {
    font-size: 18px;
    padding: 15px 50px;
    width: 30%;
    background-color: #2b72e4;
    color: #ece5e1;
    cursor: pointer;
    display: grid;
    place-self: center;
    border: none;
    border-radius: 20px;
    margin-bottom: 20px;
}

section.container-2 button:hover {
    background-color: #e52b50;
    color: #080808;
    transition: 1s;
}


section.container-2 .blog-wrapper .row .blog-post .date-box span {
    font-size: 16px;
    color: #060208;
}

section.container-2 .blog-wrapper .row .blog-post .icon-box {
    grid-area: icon-box;
    background-color: #3d2ae6;
    display: grid;
    place-items: center;
    height: 60px;
    padding: 0 40px;
}

section.container-2 .blog-wrapper .row .blog-post .icon-box i {
    font-size: 24px;
    color: #fff;
}

section.container-2 .blog-wrapper .row .blog-post .span-box {
    grid-area: span-box;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    grid-gap: 20px;
}

section.container-2 .blog-wrapper .row .blog-post .span-box span {
    font-size: 14px;
    color: #679ce6;
}

section.container-2 .blog-wrapper .row .blog-post img {
    grid-area: img;
    height: 100%;
}

section.container-2 .blog-wrapper .row .blog-post img:hover {
    opacity: 0.5;
    transition: 1s;
}

section.container-2 .blog-wrapper .row .blog-post h3 {
    grid-area: h3;
    font-size: 26px;
    letter-spacing: normal;
    font-weight: 800;
    font-family: 'Times New Roman', Times, serif; 
}

section.container-2 .blog-wrapper .row .blog-post .span-3 {
    grid-area: span-3;
}

section.container-2 .blog-wrapper .row .blog-post .span-2 {
    grid-area: span-2;
}

section.container-2 .blog-wrapper .row .blog-post .span-1 {
    grid-area: span-1;
}

section.container-2 .blog-wrapper .row .blog-post p {
    grid-area: p;
    width: 75ch;
    font-size: 18px;
    letter-spacing: normal;
    font-weight: normal;
    font-family: 'Times New Roman', Times, serif;
}

section.container-2 .blog-wrapper .row .blog-post a {
    grid-area: a;
    color: #e52b50;
    display: grid;
    place-self: end;
}




















footer.container-9 {
    height: 110vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #212529;
}

footer.container-9 .footer-group-1 {
    display: grid;
    grid-template-rows: 60px 150px 50px 60px;
    grid-gap: 20px;
    /* place-items: center; */
    /* outline: 0.5px solid #b1b8c2; */
    padding-left: 30px;
    align-items: center;
    padding-top: 50px;
}

footer.container-9 .footer-group-1 p { 
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 40ch;
}

footer.container-9 .footer-group-1 h5 { 
    font-size: 28px;
    font-weight: 700;
    color: #e52b50;
    display: grid;
    place-items: center;
}

footer.container-9 .footer-group-1 .footer-form span { 
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

footer.container-9 .footer-group-1 .footer-form input { 
    padding: 15px 15px;
    background-color: #dee4ec;
    font-size: 18px;
    color: #fff;
    border: none;
}

footer.container-9 .footer-group-1 .footer-form button{ 
    font-size: 16px;
    font-weight: 700;
    background-color: #f5cf04;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
}

footer.container-9 .footer-group-1 .footer-icons {
    display: grid;
    grid-template-columns: 0.3fr 30px 30px 30px 30px;
    grid-gap: 5px;
}

footer.container-9 .footer-group-1 .footer-icons span {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: normal;
}

footer.container-9 .footer-group-1 .footer-icons i {
    font-size: 20px;
    color: #fff;
}

footer.container-9 .footer-group-1 .footer-form {
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
}

footer.container-9 .footer-group-2 {
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
    grid-gap: 10px;
    align-content: start;
    justify-content: center;
    /* outline: 0.5px solid #b1b8c2; */
}

footer.container-9 .footer-group-2 .blogs-mini {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
}

footer.container-9 .footer-group-2 .blogs-mini .blogs-mini-post span {
    color: #2b72e4;
    cursor: pointer;
}

footer.container-9 .footer-group-2 .blogs-mini .blogs-mini-post {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-gap: 10px;
    align-content: start;
    justify-content: center;
}

footer.container-9 .footer-group-2 .blogs-mini img {
    height: 100px;
    width: 150px;
    border-radius: 20px; 
}

footer.container-9 .footer-group-2 .blogs-mini img:hover {
    transform: scale(1.1);
    margin-right: 3%;
    margin-left: 3%;
    transition: 1s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

footer.container-9 .footer-group-3 img:hover {
    transform: scale(1.2);
    margin-right: 3%;
    margin-left: 3%;
    transition: 1s;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

footer.container-9 .footer-group-2 .blogs-mini span{
    font-size: 12px;
    color: #fff;
    font-style: italic;
}

footer.container-9 .footer-group-2 h5  {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: normal;
    color: #e52b50;
    display: grid;
    place-items: center;
    padding-top: 60px;
}

footer.container-9 .footer-group-3 {
    display: grid;
    grid-template-rows: 50px 470px 50px;
    grid-gap: 10px;
    /* place-items: center; */
    align-content: start;
    /* outline: 0.5px solid #b1b8c2; */
    justify-content: center;
    place-items: center;
}

footer.container-9 .footer-group-3  h5 {
    font-size: 28px;
    font-weight: 700;
    padding-top: 100px;
    color: #e52b50;
}

footer.container-9 .footer-group-3  a {
    font-size: 16px;
    font-weight: 700;
    color: #e52b50;
}

footer.container-9 .footer-group-3 .row-wrapper {
    display: grid;
    grid-template-rows: repeat(3, 110px);
    grid-gap: 20px;
    place-items: center;
}

footer.container-9 .footer-group-3 .row-wrapper .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

footer.container-9 .footer-group-3 .row-wrapper img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    border: 3px solid #ffa500;
}

.back-to-top {
    position: fixed;
    background-color: #ea755b;
    border: solid 3px #00000050;
    border-radius: 30px;
    padding: 0.2rem 0.5rem;
    bottom: 1rem;
    right: 1rem;
    color: #35382e;
    z-index: 1;
    animation: scaling 2s infinite linear alternate;
    font-family: sans-serif;
    -webkit-animation: scaling 2s infinite linear alternate;
}

/* .back-to-top img {
    /* height: 20px; */
 
  .back-to-top:hover {
    background-color: #f5cf04;
    color:  #ece5e1;
    transition: 1s;
  }


  @media screen and (max-width: 1200px) {
    
    header.header .header-group-1 .ul-header-1 {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 10px;
    }

    footer.container-9 {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #212529;
    }

    section.container-2 .blog-wrapper .row .blog-post p {
        width: 55ch;
        font-size: 15px;
    }

    section.container-2 .blog-wrapper .row .blog-post a {
        display: grid;
        place-self: center;
    }

}

@media screen and (max-width: 1000px) {
    
    section.container-1 header.header .header-group-1 li {
        font-size: 13px;
    }

    section.container-1 header.header .header-group-2 li {
        font-size: 13px;
    }

    section.container-1 main .main-post h1{
        font-size: 42px;
    }

    section.container-1 main .main-post h2{
        font-size: 32px;
    }

    section.container-1 main .main-post p{
        font-size: 15px;
    }

    footer.container-9 {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        background-color: #212529;
    }
  
    section.container-2 .blog-wrapper .row .blog-post p {
        width: 40ch;
    }

    section.container-2 .blog-wrapper .row .blog-post a {
        display: grid;
        place-self: center;
    }
 
}

@media screen and (max-width: 900px) {

    section.container-2 .blog-wrapper .row .blog-post {
        display: grid;
        grid-template: 
        "date-box img" 0.1fr
        "icon-box img" 0.1fr
        "h3 h3" 0.2fr
        "span-box span-box" 0.1fr
        "p p" 0.4fr 
        "a a" 0.1fr /
        0.3fr 0.7fr;
        justify-items: start;
        justify-content: start;
        grid-gap: 10px;
    }

    section.container-2 .blog-wrapper .row {
        display: grid;
        place-items: center;
    }
    
    section.container-2 .blog-wrapper .row .blog-post p {
        width: 40ch;
    }
  
}

@media screen and (max-width: 768px) {

    section.container-1 header.header .header-group-1 li {
        font-size: 11px;
    }

    section.container-1 header.header .header-group-2 li {
        font-size: 11px;
    }

    section.container-2 .blog-wrapper .row .blog-post {
        display: grid;
        grid-template: 
        "date-box img" 0.1fr
        "icon-box img" 0.1fr
        "h3 h3" 0.2fr
        "span-box span-box" 0.1fr
        "p p" 0.4fr 
        "a a" 0.1fr /
        0.3fr 0.7fr;
        justify-items: start;
        justify-content: start;
        grid-gap: 10px;
    }

    section.container-2 .blog-wrapper .row {
        display: grid;
        place-items: center;
    }
    
    section.container-2 .blog-wrapper .row .blog-post p {
        width: 40ch;
    }

    header.header {
        width: 100%;
        height: 70px;
        display: grid;
        grid-template: 
        "header-group-1" 70px /
        1fr;
        place-items: center;
        place-content: center;
    }

    header.header .header-group-1 {
        display: grid;
        grid-template-columns: repeat(4, auto);
        width: auto;
        place-items: center;
        place-content: center;
    }

    header.header .header-group-2 {
        display: none;
    }

    /* header.header .void {
        display: none;
    } */

}

@media screen and (max-width: 400px) {
    footer.container-9 .footer-group-1 .footer-form input {
        width: 150px;
    }

    footer.container-9 .footer-group-1 .footer-form button {
        margin-right: 100px;
    }

    footer.container-9 .footer-group-1 p {
        width: 35ch;
        padding-bottom: 50px;
        padding-top: 30px;
    }

    section.container-2 .ribbon-blog {
        width: auto;
    }

    header.header {
        width: 100%;
        height: 70px;
        display: grid;
        grid-template: 
        "header-group-1" 70px /
        1fr;
        /* place-items: center;
        place-content: center; */
    }

    section.container-2 .blog-wrapper .row .blog-post img {
        width: 90%;
    }

    header.header .header-group-1 {
        display: grid;
        grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
        width: auto;
        place-items: center;
        place-content: center;
    }

    main.main .main-post h1 {
        display: grid;
        place-self: center;
        font-size: 22px;
        text-align: center;
    }

    main.main .main-post h2 {
        display: grid;
        place-self: center;
        font-size: 22px;
        text-align: center;
    }

    main.main .main-post p {
        display: grid;
        place-self: center;
        font-size: 14px;
        width: 30ch;
    }

    main.main .main-post button {
        display: grid;
        place-self: center;
        font-size: 14px;
    }
 
    header.header .header-group-2 {
        display: none;
    }

    /* header.header .void {
        display: none;
    } */
 
}

@media screen and (max-width: 370px) {
    section.container-1 {
        width: 108%;
    }

    section.container-2 {
        width: 108%;
    }

    section.container-3 {
        width: 108%;
    }

    footer.container-9 {
        width: 108%;
    }
}