@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

* {
    margin: 0 0;
    padding: 0 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: 1s;
}

/* ::-webkit-scrollbar {
    width: 15px;
    color: #ffa500;
} */

/* ::-webkit-scrollbar:hover {
    width: 10px;
    background-color: #b1b8c2;
    transition: 1s;
}

::-webkit-scrollbar-button:hover {
    width: 10px;  
} */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    overflow-x: hidden; /* removes scroll in bottom */
}

html {
    scroll-behavior: smooth;
}

a {
    transition: 1s;
    color: #fff;
}

/*Here layouts start */
section.container-1 {
    height: 100vh;
    width: 100%;
    background-image: url(/assets/images/main/136.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    display: grid;
    grid-template: 
    "header" 70px
    "main" 1fr /
    1fr;
}

header.header {
    grid-area: header;
    /* outline: 0.5px solid #fff; */
    display: grid;
    grid-template: 
    "header-group-1 header-group-2" 1fr /
    0.6fr 0.4fr;
    background-color: #ffa500;
    z-index: 1;
    width: 100%;
    position: fixed;
    height: 70px;
}

#special-logo {
    color: #060208;
    text-transform: uppercase;
    font-weight: 700;
    font-style: italic;
    font-size: 14px;
    display: grid;
    place-self: center;

}

#special-logo a {
    color: #060208;
}

.void {
    grid-area: void;
}

header.header .header-group-1 {
    grid-area: header-group-1;
    /* outline: 0.5px solid #b1b8c2; */
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: start;
    align-content: center;
    justify-content: center;
    padding-left: 30px;
}

header.header .header-group-2 {
    grid-area: header-group-2;
    /* outline: 0.5px solid #b1b8c2; */
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-items: end;
    align-content: center;
    justify-content: end;
    padding-right: 30px;
}

header.header .header-group-1 .ul-header-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
}

header.header .header-group-1 .ul-header-1 li {
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: normal;
    display: grid;
    place-self: center;
}

header.header .header-group-2 .ul-header-2 li {
    color: #fff;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: normal;
    display: grid;
    place-self: center;
}

header.header .header-group-2 .ul-header-2 li a:hover {
    color: #a9bad1;
    transition: 1s;
    border-bottom: 1px solid #679ce6;
}

header.header .header-group-1 .ul-header-1 li a:hover {
    color: #a9bad1;
    transition: 1s;
    border-bottom: 1px solid #679ce6;
}

header.header .header-group-2 .ul-header-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    place-items: center;
}

header.header .header-group-2 .ul-header-2 li button{
    border: 2px solid #fff;
    padding: 10px 10px;
    background-color: #a9bad1;
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 700;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}

header.header .header-group-2 .ul-header-2 li button:hover{
    background-color: #111111;
    color: #ffa800;
    transition: 1s;
}

main.main {
    grid-area: main;
    /* outline: 0.5px solid #111111; */
    display: grid;
    place-items: center;
}

main.main .main-post {
    display: grid;
    place-items: center;
    grid-gap: 5px;
}

main.main .main-post h1 {
    font-size: 65px;
    letter-spacing: normal;
    font-weight: 800;
    font-family: sans-serif;
    color: #fff;
    text-transform: capitalize;
}

main.main .main-post h2 {
    font-size: 65px;
    letter-spacing: normal;
    font-weight: 800;
    font-family: sans-serif;
    color: #ffa800;
    text-transform: capitalize;
    padding-bottom: 10px;
}

main.main .main-post p {
    font-size: 18px;
    letter-spacing: normal;
    font-weight: 700;
    font-family: sans-serif;
    color: #fff;
    text-transform: capitalize;
    padding-bottom: 5px;
}

main.main .main-post button {
    padding: 15px 15px;
    border: 2px solid #fff;
    border-radius: 10px;
    background-color: #ffa500;
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 700;
    letter-spacing: normal;
}

main.main .main-post button:hover {
    background-color: #cacaca;
    color: #111111;
    transition: 1s;
    cursor: pointer;
}














footer.container-9 {
    height: 110vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #212529;
}

footer.container-9 .footer-group-1 {
    display: grid;
    grid-template-rows: 60px 150px 50px 60px;
    grid-gap: 20px;
    /* place-items: center; */
    /* outline: 0.5px solid #b1b8c2; */
    padding-left: 30px;
    align-items: center;
    padding-top: 50px;
}

footer.container-9 .footer-group-1 p { 
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    width: 40ch;
}

footer.container-9 .footer-group-1 h5 { 
    font-size: 28px;
    font-weight: 700;
    color: #e52b50;
    display: grid;
    place-items: center;
}

footer.container-9 .footer-group-1 .footer-form span { 
    font-size: 16px;
    font-weight: 700;
    color: #fff;
}

footer.container-9 .footer-group-1 .footer-form input { 
    padding: 15px 15px;
    background-color: #dee4ec;
    font-size: 18px;
    color: #fff;
    border: none;
    outline: none;
}

footer.container-9 .footer-group-1 .footer-form button{ 
    font-size: 16px;
    font-weight: 700;
    background-color: #f5cf04;
    padding: 15px 15px;
    border: none;
    cursor: pointer;
}

footer.container-9 .footer-group-1 .footer-icons {
    display: grid;
    grid-template-columns: 0.3fr 30px 30px 30px 30px;
    grid-gap: 5px;
}

footer.container-9 .footer-group-1 .footer-icons span {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: normal;
}

footer.container-9 .footer-group-1 .footer-icons i {
    font-size: 20px;
    color: #fff;
}

footer.container-9 .footer-group-1 .footer-form {
    display: grid;
    grid-template-columns: 0.9fr 0.1fr;
}




footer.container-9 .footer-group-2 {
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
    grid-gap: 10px;
    align-content: start;
    justify-content: center;
    /* outline: 0.5px solid #b1b8c2; */
}

footer.container-9 .footer-group-2 .blogs-mini {
    display: grid;
    grid-template-rows: 150px 150px 150px;
    grid-gap: 10px;
    align-content: center;
    justify-content: center;
}

footer.container-9 .footer-group-2 .blogs-mini .blogs-mini-post span {
    color: #2b72e4;
    cursor: pointer;
}

footer.container-9 .footer-group-2 .blogs-mini .blogs-mini-post {
    display: grid;
    grid-template-columns: 0.3fr 0.7fr;
    grid-gap: 10px;
    align-content: start;
    justify-content: center;
}

footer.container-9 .footer-group-2 .blogs-mini img {
    height: 100px;
    width: 150px;
    border-radius: 20px; 
}

footer.container-9 .footer-group-2 .blogs-mini img:hover {
    transform: scale(1.1);
    margin-right: 3%;
    margin-left: 3%;
    transition: 1s;
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
}

footer.container-9 .footer-group-3 img:hover {
    transform: scale(1.2);
    margin-right: 3%;
    margin-left: 3%;
    transition: 1s;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
}

footer.container-9 .footer-group-2 .blogs-mini span{
    font-size: 12px;
    color: #fff;
    font-style: italic;
}

footer.container-9 .footer-group-2 h5  {
    font-size: 28px;
    font-weight: 700;
    letter-spacing: normal;
    color: #e52b50;
    display: grid;
    place-items: center;
    padding-top: 60px;
}

footer.container-9 .footer-group-3 {
    display: grid;
    grid-template-rows: 50px 470px 50px;
    grid-gap: 10px;
    /* place-items: center; */
    align-content: start;
    /* outline: 0.5px solid #b1b8c2; */
    justify-content: center;
    place-items: center;
}

footer.container-9 .footer-group-3  h5 {
    font-size: 28px;
    font-weight: 700;
    padding-top: 100px;
    color: #e52b50;
}

footer.container-9 .footer-group-3  a {
    font-size: 16px;
    font-weight: 700;
    color: #e52b50;
}

footer.container-9 .footer-group-3 .row-wrapper {
    display: grid;
    grid-template-rows: repeat(3, 110px);
    grid-gap: 20px;
    place-items: center;
}

footer.container-9 .footer-group-3 .row-wrapper .row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}

footer.container-9 .footer-group-3 .row-wrapper img {
    height: 100px;
    width: 100px;
    border-radius: 20px;
    border: 3px solid #ffa500;
}

.back-to-top {
    position: fixed;
    background-color: #ea755b;
    border: solid 3px #00000050;
    border-radius: 30px;
    padding: 0.2rem 0.5rem;
    bottom: 1rem;
    right: 1rem;
    color: #35382e;
    z-index: 1;
    animation: scaling 2s infinite linear alternate;
    font-family: sans-serif;
    -webkit-animation: scaling 2s infinite linear alternate;
}

/* .back-to-top img {
    /* height: 20px; */
 
  .back-to-top:hover {
    background-color: #f5cf04;
    color:  #ece5e1;
    transition: 1s;
}


  /*Here the content for contact page */
section.container-2 {
      height: auto;
      width: 100%;
      display: grid;
      place-items: center;
      grid-gap: 30px;
      grid-template-rows: 0.1fr 0.9fr;
  }

section.container-2 .map-contact {
    display: grid;
    place-items: center;
    width: 70%;
    padding-bottom: 40px;
}

section.container-2 .location {
    display: grid;
    place-items: center;
}

section.container-2 .location h2 {
    font-size: 40px;
    font-weight: 700;
    /* font-style: italic; */
    color: #060208;
    padding-top: 40px;
}



section.container-3 {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-rows: 0.1fr 0.9fr;
    grid-gap: 10px;
    background-color: #dfe5ee;
}

section.container-3 .contact-group-1 {
    display: grid;
    place-content: center;
}

section.container-3 .contact-group-1 h2 {
    font-size: 36px;
    color: #e52b50;
    font-weight: 700;
    letter-spacing: normal;
    padding-top: 30px;
    border-bottom: 3px solid #e52b50;
}

section.container-3 .contact-group-2 {
    display: grid;
    place-content: center;
    grid-template-columns: 0.5fr 0.5fr;
    grid-gap: 15px;
}

section.container-3 .contact-group-2 .form-group-1 {
    display: grid;
    place-content: center;
    grid-template-rows: repeat(4, 0.2fr);
    grid-gap: 10px;
}

section.container-3 .contact-group-2 .form-group-2 {
    display: grid;
    place-content: center;
    grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.5fr 0.1fr;
    grid-gap: 10px;
}

section.container-3 .contact-group-2 .form-group-2 input {
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    outline: none;
}

section.container-3 .contact-group-2 .form-group-2 button {
    padding: 15px 10px;
    font-size: 14px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    background-color: #e52b50;
    border-radius: 20px;
    width: 50%;
    display: grid;
    place-self: center;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

section.container-3 .contact-group-2 .form-group-2 button:hover {
    background-color: #ffa500;
    color: #fff;
    transition: 1s;
}

section.container-3 .contact-group-2 .form-group-2 textarea {
    resize: none;
    font-size: 16px;
    font-weight: 700;
    border: none;
    padding-left: 10px;
    outline: none;
}

section.container-3 .contact-group-2 .form-group-1 h3 {
    font-size: 26px;
    font-weight: 700;
    letter-spacing: normal;
    color: #00AAFF;
}

section.container-3 .contact-group-2 .form-group-1 span {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: normal;
}


@media screen and (max-width: 1200px) {
    
    header.header .header-group-1 .ul-header-1 {
        display: grid;
        grid-template-columns: repeat(4,1fr);
        grid-gap: 10px;
    }

    footer.container-9 {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: #212529;
    }

}


@media screen and (max-width: 1000px) {
    
    section.container-1 header.header .header-group-1 li {
        font-size: 14px;
    }

    section.container-1 header.header .header-group-2 li {
        font-size: 14px;
    }

    section.container-1 main .main-post h1{
        font-size: 46px;
    }

    section.container-1 main .main-post h2{
        font-size: 36px;
    }

    section.container-1 main .main-post p{
        font-size: 15px;
    }

    footer.container-9 {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        background-color: #212529;
    }
  
    section.container-3 .contact-group-2 {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 50px;
        align-content: start;
        align-items: start;
        justify-content: center;
        justify-items: center;
        padding-top: 50px;
    }

    section.container-3 .contact-group-2 .form-group-1 span {
        width: 30ch;
    }

    section.container-3 {
        height: auto;
    }

    section.container-3 .contact-group-2 .form-group-2 {
        display: grid;
        justify-content: center;
        grid-template-rows: 0.1fr 0.1fr 0.1fr 0.1fr 0.5fr 0.1fr;
        grid-gap: 20px;
        align-content: start;
        justify-content: center;
    }
}

@media screen and (max-width: 768px) {

    section.container-1 header.header .header-group-1 li {
        font-size: 12px;
    }

    section.container-1 header.header .header-group-2 li {
        font-size: 12px;
    }

    header.header {
        width: 100%;
        height: 70px;
        display: grid;
        grid-template: 
        "header-group-1" 70px /
        1fr;
        place-items: center;
        place-content: center;
    }

    header.header .header-group-1 {
        display: grid;
        grid-template-columns: repeat(4, auto);
        width: auto;
        place-items: center;
        place-content: center;
    }

    main.main .main-post h1 {
        display: grid;
        place-self: center;
        font-size: 22px;
        text-align: center;
    }

    main.main .main-post h2 {
        display: grid;
        place-self: center;
        font-size: 22px;
        text-align: center;
    }

    main.main .main-post p {
        display: grid;
        place-self: center;
        font-size: 18px;
    }

    main.main .main-post button {
        display: grid;
        place-self: center;
        font-size: 14px;
    }

    header.header .header-group-2 {
        display: none;
    }

    /* header.header .void {
        display: none;
    } */

}


@media screen and (max-width: 400px) {
    footer.container-9 .footer-group-1 .footer-form input {
        width: 150px;
    }

    footer.container-9 .footer-group-1 .footer-form button {
        margin-right: 100px;
    }

    footer.container-9 .footer-group-1 p {
        width: 35ch;
        padding-bottom: 50px;
        padding-top: 30px;
    }

    header.header {
        width: auto;
        height: 70px;
        display: grid;
        grid-template: 
        "header-group-1" 70px /
        1fr;
        place-items: center;
        place-content: center;
    }

    header.header .header-group-1 {
        display: grid;
        grid-template-columns: 0.25fr 0.25fr 0.25fr 0.25fr;
        /* width: auto; */
        place-items: center;
        place-content: center;
    }

    main.main .main-post h1 {
        display: grid;
        place-self: center;
        font-size: 28px;
        text-align: center;
    }

    main.main .main-post h2 {
        display: grid;
        place-self: center;
        font-size: 24px;
        text-align: center;
    }

    main.main .main-post p {
        display: grid;
        place-self: center;
        font-size: 14px;
        width: 40ch;
        padding-bottom: 30px;
    }

    main.main .main-post button {
        display: grid;
        place-self: center;
        font-size: 16px;
    }
 
    header.header .header-group-2 {
        display: none;
    }

    section.container-3 .contact-group-2 .form-group-2 input {
        width: 300px;
    }

    section.container-3 .contact-group-2 .form-group-2 textarea {
        width: 300px;
    }


    /* header.header .void {
        display: none;
    } */
 
}

@media screen and (max-width: 370px) {
    section.container-1 {
        width: 108%;
    }

    section.container-2 {
        width: 108%;
    }

    section.container-3 {
        width: 108%;
    }

    footer.container-9 {
        width: 108%;
    }
}