/* #region 'HEADER-MENU' */
header.products-header-menu {
    display: grid;
    grid-template-rows: 0.5fr 0.5fr;
    background-color: #022335;
    align-items: center;
    align-content: center;

    position: sticky;
    top: 0;
    z-index: 1;
}

header.products-header-menu .header-products-sub-1 {
    grid-template-rows: 1fr;
    place-items: center;
}

/* Dropdown Button */
header.products-header-menu .dropdown-product .dropbtn {
    background-color: transparent;
    color: white;
    font-size: 14px;
    font-family: sans-serif;
    font-weight: 600;
    letter-spacing: normal;
    border: none;
    cursor: pointer;
  }

  header.products-header-menu .dropdown-product .dropbtn:hover {
    color: #3684f1;
    transition: 1s;
    border-bottom: 1px solid #ec8251;
  }
  
  header.products-header-menu .dropdown-product {
    position: relative;
    display: inline-block;
  }
  
  header.products-header-menu .dropdown-product .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  header.products-header-menu .dropdown-product .dropdown-content a {
    color: black;
    padding: 12px 15px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  header.products-header-menu .dropdown-product .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu on hover */
  header.products-header-menu.dropdown-product .dropdown-product:hover .dropdown-content {display: block;}

  header.products-header-menu .header-products-sub-2 {
    grid-template-rows: 1fr;
    place-items: center;
}

header.products-header-menu .ul-products-sub-1 {
    display: grid;
    grid-template-columns: 0.2fr 0.5fr 0.1fr 0.1fr 0.1fr;
    grid-gap: 50px;
    place-items: center;
    place-content: center;
    padding-top: 20px;
}

header.products-header-menu #special-button-products {
    border-left: 3px solid #000;
}

header.products-header-menu button.button-image {
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
}

header.products-header-menu .ul-products-sub-2 {
    display: grid;
    grid-template-columns: repeat(6, 150px);
    grid-gap: 20px;
    place-items: center;
    place-content: center;
    padding-top: 20px;

    border-top: 2px solid #fff;
}

header.products-header-menu span.span-bag-stock {
    display: none;
}

header.products-header-menu span.span-bag-stock.show {
    display: grid;
    place-self: center;
    color: #c22048;
    font-size: 20px;
    font-weight: 900;
}

header.products-header-menu span.span-user-login {
    display: none;
}

header.products-header-menu span.span-user-login.show {
    display: grid;
    place-self: center;
    color: #f7f8fb;
    font-size: 20px;
}

header.products-header-menu #logo-products {
    color: #d40a0a;
    font-size: 32px;
    font-weight: 900;
    letter-spacing: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    cursor: pointer;
}

header.products-header-menu .special-offers {
    /* padding: 10px 10px; */
    background-color: transparent;
    border: none;
    font-size: 16px;
    font-weight: 900;
    color:  #fff;
    cursor: pointer;
}
/* #endregion */